<div class="card">
  <div class="card-body">
    <h4 class="card-title">New TuDoo</h4>
    <div class="list-group list-group-flush">
      <li class="list-group-item">
        <a>Title:</a>
        <input type="text" #todoName [(ngModel)]="todoNameVal"/>
      </li>

      <li class="list-group-item">
        <a>Content:</a>
        <textarea #todoContent [(ngModel)]="todoContentVal"></textarea>
      </li>
    
    <li class="list-group-item">
    <a>Visible by:</a>
    <select>
      <option value="g1">g1</option>
      <option value="none">none</option>
    </select>
  </li>
  <li class="list-group-item">
    <a>Editable by:</a>
    <select>
      <option value="g1">g1</option>
      <option value="none">none</option>
    </select>
    </li>
    <button (click)="submitNew(todoName.value, todoContent.value)" class ="btn btn-primary">Submit</button>
  </div>
  </div>
</div>