<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">TuDoo</a>
  <a class="w-100"> A todo manager with a terrible punny name</a>
  <ul class="navbar-nav px-3">
    <li *ngIf="!this.api.currentUser" class="nav-item text-nowrap">
      <input type="text" placeholder="username" #loginName [(ngModel)]="loginNameVal"/>
      <input type="password" placeholder="password" #loginPass  [(ngModel)]="loginPassVal"/>
      <input type="submit" (click)="login(loginName.value, loginPass.value)" class ="btn btn-primary"/>
    </li>
    <li *ngIf="this.api.currentUser" class="nav-item text-nowrap">
      <a class="nav-link" href="#" (click)="this.api.logout()">Sign out</a>
    </li>
  </ul>
</nav>
